*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CrimsonText-Bold.ttf";
    src: url(../assets/fonts/Crimson_Text/CrimsonText-Bold.ttf);
    font-family: "CrimsonText-BoldItalic.ttf";
    src: url(../assets/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf);
    font-family: "CrimsonText-Italic.ttf";
    src: url(../assets/fonts/Crimson_Text/CrimsonText-Italic.ttf);
    font-family: "CrimsonText-Regular.ttf";
    src: url(../assets/fonts/Crimson_Text/CrimsonText-Regular.ttf);
    font-family: "MeaCulpa-Regular.ttf";
    src: url(../assets/fonts/Mea_Culpa/MeaCulpa-Regular.ttf);
}

/******************HOMBRE****************/
/****************HEADER-HOMBRE***********/
.header-hombre .section-header h1{
    font-size: 60px;
    font-family: "CrimsonText-Bold.ttf";
    text-decoration: underline;
    color: white;
    text-align: center;
}

.header-hombre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    height: 650px;
}

.header-hombre nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    
}

.nav-hombre ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-hombre ul li{
    border: solid 2px rgb(31, 28, 31);
    text-decoration: none;
    padding: 15px;
    margin: 30px;
}

.nav-hombre a{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(8, 8, 44);
}


/****************MAIN-HOMBRE****************/

.header-hombre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-hombre nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    
}

.main-pagina-principal{
    background-color: black;
}

.main-pagina-principal article h2{
    color: white;
    font-family: "MeaCulpa-Regular.ttf";
    font-size: 50px;
    text-align: center;
}

.main-pagina-principal article p{
    color: white;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.main-pagina-principal section figcaption{
    color: white;
    font-size: 20px;
}
/**main-hombre****/
.pagina-hombre{
    background-color: aqua;
}

.pagina-hombre article h2{
    color: black;
    font-family: "CrimsonText-Bold.ttf";
    font-size: 50px;
    text-align: center;
}

.pagina-hombre article p{
    color: black;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.pagina-hombre section h3{
    color: black;
    font-family: "CrimsonText-Italic.ttf";
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.pagina-hombre section h4{
    color: rgb(12, 12, 12);
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}


.pagina-hombre section p{
    color: black;
    font-weight: lighter;
    font-size: 15px;
    
}


.caja-hombre figcaption ul li{
    margin: 10px;
    text-decoration: none;
}

.icono-carrito{
    height: 100px;
    width: 100px;
}

.comprar{
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
    display: inline;
    background-color: black;
    color: white;
    font-size: 20px;
    bottom: 10px;
}

.contenedor-main-hombre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-main-hombre .caja-hombre{
    border: solid 5px rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align-last: center;
}

.caja-hombre img{
    height: 200px;
    width: 200px;
    
}

.caja-hombre figcaption ul .icono-carrito{
    height: 25px;
    width: 25px;
}

/**********MUJER************/
/***********HEADER-MUJER*********/

.header-mujer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
}

.header-mujer .section-header h1{
    font-size: 60px;
    font-family: "CrimsonText-BoldItalic.ttf";
    text-decoration: underline;
    color: rgb(223, 183, 241);
    text-align: center;
}


.nav-mujer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-mujer ul li{
    border: solid 2px rgb(182, 71, 182);
    text-decoration: none;
    padding: 10px;
}

.nav-mujer a{
    font-size: 30px;
    text-decoration: none;
    color: pink;
}

/***********MAIN-MUJER************/
.main-mujer{
    background-color: blueviolet;
    height: 4200px;
}

.main-mujer article h2{
    color: yellow;
    font-family: "CrimsonText-Bold.ttf";
    font-size: 50px;
    text-align: center;
}

.main-mujer article p{
    color: black;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.main-mujer section h3{
    color: black;
    font-family: "CrimsonText-Italic.ttf";
    font-size: 20px;
}



.marin-mujer section p{
    color: black;
    font-weight: lighter;
    font-size: 15px;
}

.contenedor-main-mujer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja-mujer{
    border: solid 2px rgb(0, 0, 0);
    padding: 20px;
    margin: 20px 20px 0 20px;
    text-align: center;
}

.caja-mujer img{
    height: 200px;
    width: 200px;
}

.caja-mujer figcaption ul .icono-carrito{
    height: 25px;
    width: 25px;
}

.caja-mujer figcaption ul{
    margin: 10px;
}

.caja-mujer figcaption ul li{
    margin: 10px;
    text-decoration: none;
}

.comprar{
    border: solid 1px red;
    padding: 5px;
    margin: 10px;
    display: inline;
    background-color: rgb(94, 37, 37);
    color: white;
    font-size: 20px;
    bottom: 10px;
}

.publicidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}

.publicidad h5{
    text-align: center;
    font-size: 50px;
}

/*******FOOTER-MUJER******/
.footer-mujer{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(122, 29, 122);
}

.datos{
    border: solid 2px rgba(0, 0, 0, 0);
    padding: 5px;
    margin: 5px;
}

.dtos ul li{
    text-decoration: none;
}

.datos .suscripciones{
    text-decoration: none;
}

.datos h6{
    font-size: 20px;
}

.datos iframe{
    height: 150px;
    width: 150px;
}

/*main-unisex*/

.main-unisex{
    background-color: blanchedalmond;
}

.main-unisex article h2{
    color: yellow;
    font-family: "CrimsonText-Bold.ttf";
    font-size: 50px;
    text-align: center;
}

.main-unisex article p{
    color: black;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.main-unisex section h3{
    color: black;
    font-family: "CrimsonText-Italic.ttf";
    font-size: 20px;
}

.main-unisex section p{
    color: black;
    font-weight: lighter;
    font-size: 15px;
}

/*main-arabes*/

.main-arabes{
    background-color: rgb(228, 255, 131);
    height: 1700px;
}

.contenedor-main-arabe{
    /* border: solid 4px rgb(236, 129, 129);
    margin: 5px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    gap: 40px;
}

.caja-arabe{
    /* border: solid 2px rgb(255, 98, 98); */
    text-align: center;
    font-size: 50px;
    padding: 60px;
}

.caja-arabe{
    position: relative;
}

/* .caja-arabe figcaption{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.137);
} */

.img-3{
    grid-column: span 2;
    text-align: center;
}

.caja-arabe img{
    height: 500px;
    width: 500px;
    
    
}

.main-arabes{
    background-color: rgb(228, 255, 131);
    height: 1700px;
}



.main-arabes article h2{
    color: black;
    font-family: "CrimsonText-Bold.ttf";
    font-size: 50px;
    text-align: center;
}

.main-arabes article p{
    color: black;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.main-arabes section h3{
    color: black;
    font-family: "CrimsonText-Italic.ttf";
    font-size: 20px;
}

.main-arabes section p{
    color: black;
    font-weight: lighter;
    font-size: 15px;
}

.main-arabes section figcaption{
    color: black;
}
/*****************************FOOTER************************************/
footer{
    height: 300px;
}

section h4{
    font-style: italic;
    font-size: 20px;
}

section ul li{
    font-family: "CrimsonText-Regular.ttf";
}

section iframe{
    height: 150px;
    width: 150px;
}

@media screm and(max-width:641px){

}

/*********************EN CONTRUCCION***********************/
.en-construccion{
    font-size: 200px;
    text-align: center;
}